openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Project API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Project
paths:
  /v1/workgroups/{workgroup_id}/projects:
    get:
      tags:
      - Project
      summary: List the projects
      description: List the projects
      operationId: getProjectList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProjectListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    post:
      tags:
      - Project
      summary: Create a Project
      description: Create a Project
      operationId: postProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProjectVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}:
    get:
      tags:
      - Project
      summary: Get a specific Project
      description: Get a specific Project
      operationId: getProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    put:
      tags:
      - Project
      summary: Update a specific Project
      description: Update a specific Project
      operationId: putProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ProjectPersistVO'
    delete:
      tags:
      - Project
      summary: Archieve a specific Project
      description: Archieve a specific Project
      operationId: deleteProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful archive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    patch:
      tags:
      - Project
      summary: Patch a specific Project
      description: Patch a specific Project
      operationId: patchProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful patch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ProjectPatchPO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/children:
    post:
      tags:
      - Project
      summary: Attach children projects to specific Project
      description: Attach children projects to specific Project
      operationId: attachProject
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ProjectIdListVO'
components:
  schemas:
    ProjectParentVO:
      properties:
        client_account:
          type: string
          example: sample client_account
          description: ''
        client_user:
          type: string
          example: sample client_user
          description: ''
        client_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        created_by:
          description: ''
          $ref: '#/components/schemas/PersonVO'
        project_create_date:
          type: string
          format: date
          description: ''
        project_description:
          type: string
          example: sample project_description
          description: ''
        project_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectParentVO'
    ProjectVO:
      properties:
        project_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectVO'
    PropertyPaAndAttVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        param_name:
          type: string
          example: sample param_name
          description: ''
        property_attribute_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PropertyPaAndAttVO'
    ProjectPatchPO:
      properties:
        client_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        deactivation_reason_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        is_active:
          type: boolean
          example: 'false'
          description: ''
        is_hot:
          type: boolean
          example: 'false'
          description: ''
        project_category_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_description:
          type: string
          example: sample project_description
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
        project_status_id:
          type: integer
          format: int64
          example: '1'
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.po.ProjectPatchPO'
    ProjectIdListVO:
      properties:
        childProjectIds:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.ProjectIdListVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    PersonVO:
      properties:
        email:
          type: string
          example: sample email
          description: ''
        first_name:
          type: string
          example: sample first_name
          description: ''
        last_name:
          type: string
          example: sample last_name
          description: ''
        middle_name:
          type: string
          example: sample middle_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PersonVO'
    ProjectPersistVO:
      required:
      - project_status_id
      properties:
        client_account:
          type: string
          example: sample client_account
          description: ''
        client_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        deactivation_reason_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        is_active:
          type: boolean
          example: 'false'
          description: ''
        is_hot:
          type: boolean
          example: 'false'
          description: ''
        is_paper_direct:
          type: boolean
          example: 'false'
          description: ''
        project_category_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_description:
          type: string
          example: sample project_description
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
        project_owner_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_status_id:
          type: integer
          format: int64
          example: '1'
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.ProjectPersistVO'
    CustomFieldPersistVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_name:
          type: string
          example: sample param_name
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.CustomFieldPersistVO'
    ProjectSimpleVO:
      properties:
        client_account:
          type: string
          example: sample client_account
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        is_active:
          type: boolean
          example: 'false'
          description: ''
        is_hot:
          type: boolean
          example: 'false'
          description: ''
        last_spec_update:
          type: string
          format: date
          description: ''
        project_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
        project_status:
          type: string
          example: sample project_status
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectSimpleVO'
    ProjectDetailVO:
      properties:
        category:
          type: string
          example: sample category
          description: ''
        client_account:
          type: string
          example: sample client_account
          description: ''
        client_user:
          type: string
          example: sample client_user
          description: ''
        client_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        deactivation_reason:
          type: string
          example: sample deactivation_reason
          description: ''
        is_active:
          type: boolean
          example: 'false'
          description: ''
        is_hot:
          type: boolean
          example: 'false'
          description: ''
        last_spec_update:
          type: string
          format: date
          description: ''
        mod_date:
          type: string
          format: date
          description: ''
        owner_workgroup:
          type: string
          example: sample owner_workgroup
          description: ''
        parent_project:
          description: ''
          $ref: '#/components/schemas/ProjectParentVO'
        project_create_date:
          type: string
          format: date
          description: ''
        project_description:
          type: string
          example: sample project_description
          description: ''
        project_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
        project_status:
          type: string
          example: sample project_status
          description: ''
        team_owners:
          type: string
          example: sample team_owners
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectDetailVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
    ProjectExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/ProjectDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectExpandVO'
    ProjectListVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ProjectSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectListVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
