openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Invoice API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Invoice
paths:
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/orders/{order_id}:
    get:
      tags:
      - Invoice
      summary: List invoices by a specific order
      description: List invoices by a specific order
      operationId: getInvoices
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/InvoiceDetailListExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/{invoice_id}:
    get:
      tags:
      - Invoice
      summary: List a specific invoice of project Level
      description: List a specific invoice of project Level
      operationId: getInvoice
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/InvoiceExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/{invoice_id}/files:
    get:
      tags:
      - Invoice
      summary: List files of invoice Level
      description: List files of invoice Level
      operationId: getInvoiceFiles
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: invoice_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/FileListResponseVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    FileListResponseVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/FileVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.file.FileListResponseVO'
    PropertyPaAndAttVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        param_name:
          type: string
          example: sample param_name
          description: ''
        property_attribute_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PropertyPaAndAttVO'
    TagVO:
      properties:
        isSpec:
          type: boolean
          example: 'false'
          description: ''
        tagId:
          type: integer
          format: int64
          example: '1'
          description: ''
        tagName:
          type: string
          example: sample tagName
          description: ''
      description: 'Java type: com.noosh.domain.collaboration.vo.TagVO'
    FileVO:
      properties:
        comments:
          type: string
          example: sample comments
          description: ''
        description:
          type: string
          example: sample description
          description: ''
        download_link:
          type: string
          example: sample download_link
          description: ''
        file_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        file_name:
          type: string
          example: sample file_name
          description: ''
        file_size:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        file_type:
          type: string
          example: sample file_type
          description: ''
        is_remote:
          type: boolean
          example: 'false'
          description: ''
        modified_date:
          type: string
          example: sample modified_date
          description: ''
        tagList:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/TagVO'
        upload_date:
          type: string
          example: sample upload_date
          description: ''
        uploaded_by:
          type: string
          example: sample uploaded_by
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.file.FileVO'
    InvoiceDetailListExpandVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/InvoiceSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceDetailListExpandVO'
    InvoiceExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/InvoiceDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceExpandVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    InvoiceSimpleVO:
      properties:
        comments:
          type: string
          example: sample comments
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        invoice_date:
          type: string
          format: date
          description: ''
        invoice_due_date:
          type: string
          format: date
          description: ''
        invoice_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        invoice_number:
          type: string
          example: sample invoice_number
          description: ''
        invoice_to:
          type: string
          example: sample invoice_to
          description: ''
        is_final:
          type: integer
          format: int32
          example: '1'
          description: ''
        is_nonBillable:
          type: integer
          format: int32
          example: '1'
          description: ''
        items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/InvoiceItemSimpleVO'
        order_reference:
          type: string
          example: sample order_reference
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        payment_method:
          type: string
          example: sample payment_method
          description: ''
        prepared_by:
          type: string
          example: sample prepared_by
          description: ''
        project_number:
          type: integer
          format: int64
          example: '1'
          description: ''
        reference_number:
          type: string
          example: sample reference_number
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceSimpleVO'
    InvoiceDetailVO:
      properties:
        comments:
          type: string
          example: sample comments
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        invoice_date:
          type: string
          format: date
          description: ''
        invoice_due_date:
          type: string
          format: date
          description: ''
        invoice_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        invoice_number:
          type: string
          example: sample invoice_number
          description: ''
        invoice_to:
          type: string
          example: sample invoice_to
          description: ''
        is_final:
          type: integer
          format: int32
          example: '1'
          description: ''
        is_nonBillable:
          type: integer
          format: int32
          example: '1'
          description: ''
        items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/InvoiceItemDetailVO'
        order_reference:
          type: string
          example: sample order_reference
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        payment_method:
          type: string
          example: sample payment_method
          description: ''
        prepared_by:
          type: string
          example: sample prepared_by
          description: ''
        project_number:
          type: integer
          format: int64
          example: '1'
          description: ''
        reference_number:
          type: string
          example: sample reference_number
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceDetailVO'
    InvoiceItemDetailVO:
      properties:
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        invoice_item_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        item_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_quantity:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        job_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipment_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_name:
          type: string
          example: sample spec_name
          description: ''
        transactional_item_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceItemDetailVO'
    InvoiceItemSimpleVO:
      properties:
        invoice_item_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        item_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_quantity:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        job_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_name:
          type: string
          example: sample spec_name
          description: ''
        transactional_item_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_sub_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.InvoiceItemSimpleVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
