openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Team Member Role API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Team Member Role
paths:
  /v1/workgroups/{workgroup_id}/projects/{project_id}/memberroles/{user_id}:
    get:
      tags:
      - Team Member Role
      summary: List all the role options for the user
      description: List all the role options for the user
      operationId: getMemberRoles
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/RoleListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/RoleListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    RoleListVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/RoleSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RoleListVO'
    RoleSimpleVO:
      properties:
        role_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        role_name:
          type: string
          example: sample role_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RoleSimpleVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
