openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Exchange Rate API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Exchange Rate
paths:
  /v1/workgroups/{workgroup_id}/exchangeRate:
    get:
      tags:
      - Exchange Rate
      summary: Get Exchange Rate List
      description: Get Exchange Rate List
      operationId: getExchangeRateList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/MultiExchangeRateListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    post:
      tags:
      - Exchange Rate
      summary: Create Exchange Rates
      description: Create Exchange Rates
      operationId: postExchangeRate
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatus'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatus'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/MultiExchangeRatePersistListVO'
components:
  schemas:
    MultiExchangeRatePersisitVO:
      properties:
        activate_date:
          type: string
          format: date
          description: ''
        buClientWorkgroupId:
          type: integer
          format: int64
          example: '1'
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        rate:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        target:
          type: string
          example: sample target
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.MultiExchangeRatePersisitVO'
    HTTPStatus:
      description: 'Java type: com.noosh.domain.constant.HTTPStatus'
    MultiExchangeRateListVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.MultiExchangeRateListVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    MultiExchangeRatePersistListVO:
      properties:
        exchange_rates:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/MultiExchangeRatePersisitVO'
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.MultiExchangeRatePersistListVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
