openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Order API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Order
paths:
  /v1/workgroups/{workgroup_id}/buyOrders:
    get:
      tags:
      - Order
      summary: List the buy orders of workgroup
      description: List the buy orders of workgroup
      operationId: getBuyOrderListOfWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/buyOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy order of workgroup
      description: Get a specific buy order of workgroup
      operationId: getBuyOrderOfWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/buyOrders:
    get:
      tags:
      - Order
      summary: List the buy orders
      description: List the buy orders
      operationId: getBuyOrderList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    post:
      tags:
      - Order
      summary: Create a quick buy order
      description: Create a quick buy order
      operationId: postBuyOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderPO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderPO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderPO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderPO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderPO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderPO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderPO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/OrderPO'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderPO'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderPO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderPO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderPO'
          text/csv:
            schema:
              $ref: '#/components/schemas/OrderPO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/buyOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy order
      description: Get a specific buy order
      operationId: getBuyOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    put:
      tags:
      - Order
      summary: Update a specific buy order
      description: Update a specific buy order
      operationId: putBuyOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/orders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy/sell order
      description: Get a specific buy/sell order
      operationId: getOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderDetailWithIndicatorVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/sellOrders:
    get:
      tags:
      - Order
      summary: List the sell orders
      description: List the sell orders
      operationId: getSellOrderList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/sellOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific sell order
      description: Get a specific sell order
      operationId: getSellOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderDetailVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    put:
      tags:
      - Order
      summary: Update / Accept or Reject a specific sell order
      description: Update / Accept or Reject a specific sell order
      operationId: putSellOrder
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/OrderUpdPersistVO'
  /v1/workgroups/{workgroup_id}/sellOrders:
    get:
      tags:
      - Order
      summary: List the sell orders of workgrop
      description: List the sell orders of workgrop
      operationId: getSellOrderListOfWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderWorkgroupLevelListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/sellOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific sell order
      description: Get a specific sell order
      operationId: getSellOrderOfWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderExpandWorkgroupLevelVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    PropertyPaAndAttVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        param_name:
          type: string
          example: sample param_name
          description: ''
        property_attribute_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PropertyPaAndAttVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    OrderPO:
      properties:
        buyer_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        invoice_or_billing_recipient:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_completion_date:
          type: string
          format: date
          description: ''
        order_items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderItemPersistVO'
        other_selection_reason:
          type: string
          example: sample other_selection_reason
          description: ''
        payment_method_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference_no:
          type: string
          example: sample payment_reference_no
          description: ''
        quickOrder:
          type: boolean
          example: 'false'
          description: ''
        rfeId:
          type: integer
          format: int64
          example: '1'
          description: ''
        sellOrder:
          type: boolean
          example: 'false'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_selection_reason_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        supplier_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        tax:
          type: string
          example: sample tax
          description: ''
        title:
          type: string
          example: sample title
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.po.OrderPO'
    OrderWorkgroupLevelSimpleVO:
      properties:
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderSimpleBaseVO'
        closing_change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderSimpleBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        project:
          description: ''
          $ref: '#/components/schemas/ProjectBaseVO'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.OrderWorkgroupLevelSimpleVO'
    UserVO:
      properties:
        email:
          type: string
          example: sample email
          description: ''
        first_name:
          type: string
          example: sample first_name
          description: ''
        last_name:
          type: string
          example: sample last_name
          description: ''
        middle_name:
          type: string
          example: sample middle_name
          description: ''
        user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.UserVO'
    WorkgroupBaseVO:
      properties:
        workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupBaseVO'
    OrderSimpleVO:
      properties:
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderSimpleBaseVO'
        closing_change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderSimpleBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.OrderSimpleVO'
    CustomFieldPersistVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_name:
          type: string
          example: sample param_name
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.CustomFieldPersistVO'
    OrderListVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderListVO'
    OrderDetailVO:
      properties:
        accepted_date:
          type: string
          format: date
          description: ''
        annulled_date:
          type: string
          format: date
          description: ''
        approved_date:
          type: string
          format: date
          description: ''
        awarded_date:
          type: string
          format: date
          description: ''
        budget_type:
          type: string
          example: sample budget_type
          description: ''
        buyer:
          description: ''
          $ref: '#/components/schemas/UserVO'
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        classification:
          type: string
          example: sample classification
          description: ''
        closed_date:
          type: string
          format: date
          description: ''
        closing_change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        creator_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_count:
          type: integer
          format: int32
          example: '1'
          description: ''
        last_activity_date:
          type: string
          format: date
          description: ''
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        misc_cost:
          type: number
          format: double
          example: '1.1'
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderItemSimpleVO'
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        overs_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
        parent_order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        quote_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier:
          description: ''
          $ref: '#/components/schemas/UserVO'
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_selection_reason:
          type: string
          example: sample supplier_selection_reason
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        unders_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderDetailVO'
    OrderDetailWithIndicatorVO:
      properties:
        accepted_date:
          type: string
          format: date
          description: ''
        annulled_date:
          type: string
          format: date
          description: ''
        approved_date:
          type: string
          format: date
          description: ''
        awarded_date:
          type: string
          format: date
          description: ''
        budget_type:
          type: string
          example: sample budget_type
          description: ''
        buyer:
          description: ''
          $ref: '#/components/schemas/UserVO'
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        classification:
          type: string
          example: sample classification
          description: ''
        closed_date:
          type: string
          format: date
          description: ''
        closing_change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        creator_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        is_sell_order:
          type: boolean
          example: 'false'
          description: ''
        item_count:
          type: integer
          format: int32
          example: '1'
          description: ''
        last_activity_date:
          type: string
          format: date
          description: ''
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        misc_cost:
          type: number
          format: double
          example: '1.1'
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderItemSimpleVO'
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        overs_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
        parent_order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        quote_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier:
          description: ''
          $ref: '#/components/schemas/UserVO'
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_selection_reason:
          type: string
          example: sample supplier_selection_reason
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        unders_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderDetailWithIndicatorVO'
    OrderDetailBaseVO:
      properties:
        accepted_date:
          type: string
          format: date
          description: ''
        annulled_date:
          type: string
          format: date
          description: ''
        approved_date:
          type: string
          format: date
          description: ''
        awarded_date:
          type: string
          format: date
          description: ''
        budget_type:
          type: string
          example: sample budget_type
          description: ''
        buyer:
          description: ''
          $ref: '#/components/schemas/UserVO'
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        classification:
          type: string
          example: sample classification
          description: ''
        closed_date:
          type: string
          format: date
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        creator_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_count:
          type: integer
          format: int32
          example: '1'
          description: ''
        last_activity_date:
          type: string
          format: date
          description: ''
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        misc_cost:
          type: number
          format: double
          example: '1.1'
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        overs_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
        parent_order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        quote_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier:
          description: ''
          $ref: '#/components/schemas/UserVO'
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_selection_reason:
          type: string
          example: sample supplier_selection_reason
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        unders_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderDetailBaseVO'
    ProjectBaseVO:
      properties:
        project_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        project_name:
          type: string
          example: sample project_name
          description: ''
        project_number:
          type: string
          example: sample project_number
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ProjectBaseVO'
    OrderItemPersistVO:
      properties:
        completion_date:
          type: string
          format: date
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        ex_tax_value_calculated:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        notes:
          type: string
          example: sample notes
          description: ''
        per:
          type: integer
          format: int64
          example: '1'
          description: ''
        price:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        quantity:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        spec_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_reference_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        tax:
          type: string
          example: sample tax
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.OrderItemPersistVO'
    OrderExpandWorkgroupLevelVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/OrderDetailWorkgroupLevelVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderExpandWorkgroupLevelVO'
    OrderDetailWorkgroupLevelVO:
      properties:
        accepted_date:
          type: string
          format: date
          description: ''
        annulled_date:
          type: string
          format: date
          description: ''
        approved_date:
          type: string
          format: date
          description: ''
        awarded_date:
          type: string
          format: date
          description: ''
        budget_type:
          type: string
          example: sample budget_type
          description: ''
        buyer:
          description: ''
          $ref: '#/components/schemas/UserVO'
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        classification:
          type: string
          example: sample classification
          description: ''
        closed_date:
          type: string
          format: date
          description: ''
        closing_change_orders:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderDetailBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        creator_user_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        item_count:
          type: integer
          format: int32
          example: '1'
          description: ''
        last_activity_date:
          type: string
          format: date
          description: ''
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        misc_cost:
          type: number
          format: double
          example: '1.1'
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderItemSimpleVO'
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        overs_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
        parent_order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        project:
          description: ''
          $ref: '#/components/schemas/ProjectBaseVO'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        quote_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier:
          description: ''
          $ref: '#/components/schemas/UserVO'
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_selection_reason:
          type: string
          example: sample supplier_selection_reason
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_grand_total_with_changes:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_order_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        unders_percent:
          type: number
          format: double
          example: '1.1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderDetailWorkgroupLevelVO'
    OrderWorkgroupLevelListVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/OrderWorkgroupLevelSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderWorkgroupLevelListVO'
    OrderUpdPersistVO:
      properties:
        action:
          type: string
          example: sample action
          description: accept or reject
        budget_type_field_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        comments:
          type: string
          example: sample comments
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        order_completion_date:
          type: string
          format: date
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        other_selection_reason:
          type: string
          example: sample other_selection_reason
          description: ''
        overs_percent:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        payment_method_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        payment_reference_no:
          type: string
          example: sample payment_reference_no
          description: ''
        reject_reason:
          type: string
          example: sample reject_reason
          description: ''
        supplier_selection_reason_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        unders_percent:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.OrderUpdPersistVO'
    OrderItemSimpleVO:
      properties:
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        item_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        item_price:
          type: number
          format: double
          example: '1.1'
          description: ''
        quantity:
          type: number
          format: double
          example: '1.1'
          description: ''
        shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        spec:
          description: ''
          $ref: '#/components/schemas/SpecBaseVO'
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_item_price:
          type: number
          format: double
          example: '1.1'
          description: ''
        transactional_shipping:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        transactional_unit_price:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        unit_description:
          type: string
          example: sample unit_description
          description: ''
        unit_price:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.OrderItemSimpleVO'
    OrderVO:
      properties:
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.OrderVO'
    SpecBaseVO:
      properties:
        job_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        reference_number:
          type: string
          example: sample reference_number
          description: ''
        spec_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_name:
          type: string
          example: sample spec_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SpecBaseVO'
    OrderSimpleBaseVO:
      properties:
        buyer_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        comments:
          type: string
          example: sample comments
          description: ''
        completion_date:
          type: string
          format: date
          description: ''
        currency:
          type: string
          example: sample currency
          description: ''
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        last_changed:
          type: string
          format: date
          description: ''
        last_status_change:
          type: string
          format: date
          description: ''
        order_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        order_number:
          type: string
          example: sample order_number
          description: ''
        order_title:
          type: string
          example: sample order_title
          description: ''
        payment_reference:
          type: string
          example: sample payment_reference
          description: ''
        print_order_ids:
          type: array
          description: ''
          items:
            type: integer
            format: int64
            example: '1'
        purchase_method:
          type: string
          example: sample purchase_method
          description: ''
        status:
          type: string
          example: sample status
          description: ''
        status_comments:
          type: string
          example: sample status_comments
          description: ''
        supplier_reference:
          type: string
          example: sample supplier_reference
          description: ''
        supplier_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.OrderSimpleBaseVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
