openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Rfq API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Rfq
paths:
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfqs:
    get:
      tags:
      - Rfq
      summary: List the rfqs
      description: List the rfqs
      operationId: getRfqList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/RfqListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/RfqListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfqs/{rfq_id}:
    get:
      tags:
      - Rfq
      summary: Get a specific Rfq
      description: Get a specific Rfq
      operationId: getRfq
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: rfq_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/RfqExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    QuoteBaseVO:
      properties:
        currency:
          type: string
          example: sample currency
          description: ''
        grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        quote_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        quote_title:
          type: string
          example: sample quote_title
          description: ''
        status:
          type: string
          example: sample status
          description: ''
        submit_date:
          type: string
          format: date
          description: ''
        transactional_currency:
          type: string
          example: sample transactional_currency
          description: ''
        transactional_grand_total:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.QuoteBaseVO'
    RfqItemBaseVO:
      properties:
        job_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        rfq_item_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec:
          description: ''
          $ref: '#/components/schemas/ErgoSpecSimpleVO'
      description: 'Java type: com.noosh.nooshapi.vo.RfqItemBaseVO'
    ErgoSpecSimpleVO:
      properties:
        is_active:
          type: integer
          format: int32
          example: '1'
          description: ''
        is_template:
          type: integer
          format: int32
          example: '1'
          description: ''
        quantity_1:
          type: number
          format: double
          example: '1.1'
          description: ''
        quantity_2:
          type: number
          format: double
          example: '1.1'
          description: ''
        quantity_3:
          type: number
          format: double
          example: '1.1'
          description: ''
        quantity_4:
          type: number
          format: double
          example: '1.1'
          description: ''
        quantity_5:
          type: number
          format: double
          example: '1.1'
          description: ''
        reference_number:
          type: string
          example: sample reference_number
          description: ''
        spec_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_name:
          type: string
          example: sample spec_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ergo.ErgoSpecSimpleVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    RfqExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/RfqDetailsVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RfqExpandVO'
    RfqDetailsVO:
      properties:
        comments:
          type: string
          example: sample comments
          description: ''
        description:
          type: string
          example: sample description
          description: ''
        proposed_completion_date:
          type: string
          format: date
          description: ''
        quote_due_date:
          type: string
          format: date
          description: ''
        quotes:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/QuoteBaseVO'
        received_date:
          type: string
          format: date
          description: ''
        recipient_name:
          type: string
          example: sample recipient_name
          description: ''
        requestor_name:
          type: string
          example: sample requestor_name
          description: ''
        rfq_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        rfq_items:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/RfqItemBaseVO'
        rfq_title:
          type: string
          example: sample rfq_title
          description: ''
        status:
          type: string
          example: sample status
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RfqDetailsVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
    RfqSimpleVO:
      properties:
        quotes:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/QuoteBaseVO'
        received_date:
          type: string
          format: date
          description: ''
        rfq_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        rfq_title:
          type: string
          example: sample rfq_title
          description: ''
        status:
          type: string
          example: sample status
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RfqSimpleVO'
    RfqListVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/RfqSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.RfqListVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
