openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Workgroup API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Workgroup
paths:
  /v1/workgroups:
    get:
      tags:
      - Workgroup
      summary: List the workgroups
      description: List the workgroups
      operationId: getWorkgroupList
      parameters:
      - name: workgroup_name
        in: query
        description: Workgroup Name
        required: false
        schema:
          type: string
      - name: workgroup_types
        in: query
        description: 1000001 for Buyer, 1000002 for supplier, 1000003 for agent, 1000004 for Broker/Outsourcer and 1000005 for Partner
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkgroupListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups:
    get:
      tags:
      - Workgroup
      summary: List client workgroups
      description: List client workgroups
      operationId: getClientWorkgroupList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientWorkgroupListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups/{client_workgroup_id}:
    get:
      tags:
      - Workgroup
      summary: Get a specific client workgroups
      description: Get a specific client workgroups
      operationId: getSpecificClientWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: client_workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ClientWorkgroupExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/detail:
    get:
      tags:
      - Workgroup
      summary: Detail workgroup info
      description: Detail workgroup info
      operationId: getWorkgroupDetail
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkgroupExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    put:
      tags:
      - Workgroup
      summary: Update a specific Workgroup
      description: Update a specific Workgroup
      operationId: putWorkgroup
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkgroupHTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/WorkgroupUpdPersistVO'
  /v1/workgroups/{workgroup_id}/supplierWorkgroups:
    get:
      tags:
      - Workgroup
      summary: List supplier workgroups
      description: List supplier workgroups
      operationId: getSupplierWorkgroupList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/supplierWorkgroups/{bu_supplier_workgroup_id}:
    get:
      tags:
      - Workgroup
      summary: Get the specific supplier of My Group
      description: Get the specific supplier of My Group
      operationId: getSupplierWorkgroupDetail
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: bu_supplier_workgroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierWorkgroupExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    PropertyPaAndAttVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        param_name:
          type: string
          example: sample param_name
          description: ''
        property_attribute_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PropertyPaAndAttVO'
    SupplierWorkgroupSimpleVO:
      properties:
        bu_supplier_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        bu_supplier_workgroup_name:
          type: string
          example: sample bu_supplier_workgroup_name
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_name:
          type: string
          example: sample client_workgroup_name
          description: ''
        is_approved:
          type: boolean
          example: 'false'
          description: ''
        supplier_code:
          type: string
          example: sample supplier_code
          description: ''
        supplier_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        supplier_workgroup_name:
          type: string
          example: sample supplier_workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SupplierWorkgroupSimpleVO'
    WorkgroupExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/WorkgroupDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupExpandVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    SupplierWorkgroupDetailVO:
      properties:
        additional_workgroups_contain_same_supplier:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/SupplierWorkgroupBasicVO'
        bu_supplier_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        bu_supplier_workgroup_name:
          type: string
          example: sample bu_supplier_workgroup_name
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_name:
          type: string
          example: sample client_workgroup_name
          description: ''
        is_approved:
          type: boolean
          example: 'false'
          description: ''
        supplier_code:
          type: string
          example: sample supplier_code
          description: ''
        supplier_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        supplier_workgroup_name:
          type: string
          example: sample supplier_workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SupplierWorkgroupDetailVO'
    WorkgroupSimpleVO:
      properties:
        is_default:
          type: boolean
          example: 'false'
          description: ''
        parent_workgroup:
          description: ''
          $ref: '#/components/schemas/WorkgroupBaseVO'
        workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupSimpleVO'
    ClientWorkgroupListVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ClientWorkgroupSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ClientWorkgroupListVO'
    ClientWorkgroupDetailVO:
      properties:
        client_ac_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_name:
          type: string
          example: sample client_workgroup_name
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        margin_percent:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        markup:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        markup_percent:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
      description: 'Java type: com.noosh.nooshapi.vo.ClientWorkgroupDetailVO'
    ClientWorkgroupSimpleVO:
      properties:
        client_ac_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        client_workgroup_name:
          type: string
          example: sample client_workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ClientWorkgroupSimpleVO'
    WorkgroupBaseVO:
      properties:
        workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupBaseVO'
    SupplierWorkgroupExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/SupplierWorkgroupDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SupplierWorkgroupExpandVO'
    CustomFieldPersistVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_name:
          type: string
          example: sample param_name
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.CustomFieldPersistVO'
    WorkgroupListVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/WorkgroupSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupListVO'
    WorkgroupUpdPersistVO:
      properties:
        address_line1:
          type: string
          example: sample address_line1
          description: ''
        address_line2:
          type: string
          example: sample address_line2
          description: ''
        address_line3:
          type: string
          example: sample address_line3
          description: ''
        city:
          type: string
          example: sample city
          description: ''
        country:
          type: string
          example: sample country
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        decimal_places:
          type: integer
          format: int64
          example: '1'
          description: ''
        postal:
          type: string
          example: sample postal
          description: ''
        state:
          type: string
          example: sample state
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupUpdPersistVO'
    ClientWorkgroupExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/ClientWorkgroupDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ClientWorkgroupExpandVO'
    SupplierWorkgroupBasicVO:
      properties:
        bu_supplier_workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        bu_supplier_workgroup_name:
          type: string
          example: sample bu_supplier_workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SupplierWorkgroupBasicVO'
    WorkgroupHTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
        workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupHTTPStatusVO'
    SupplierWorkgroupListVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/SupplierWorkgroupSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SupplierWorkgroupListVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
    WorkgroupDetailVO:
      properties:
        address_line1:
          type: string
          example: sample address_line1
          description: ''
        address_line2:
          type: string
          example: sample address_line2
          description: ''
        address_line3:
          type: string
          example: sample address_line3
          description: ''
        city:
          type: string
          example: sample city
          description: ''
        country:
          type: string
          example: sample country
          description: ''
        country_code:
          type: string
          example: sample country_code
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        default_currency:
          type: string
          example: sample default_currency
          description: ''
        portal:
          type: string
          example: sample portal
          description: ''
        postal:
          type: string
          example: sample postal
          description: ''
        state:
          type: string
          example: sample state
          description: ''
        workgroup_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.WorkgroupDetailVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
