openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Shipment API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Shipment
paths:
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments:
    get:
      tags:
      - Shipment
      summary: List shipments of project
      description: List shipments of project
      operationId: getShipmentList
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShipmentListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
    post:
      tags:
      - Shipment
      summary: Create a shipment
      description: Create a shipment
      operationId: postShipment
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShipmentLocationsPOSTResultVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPostPersistVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments/{shipment_id}:
    get:
      tags:
      - Shipment
      summary: Get a specific shipment.
      description: Get a specific shipment.
      operationId: getShipment
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: shipment_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShipmentExpandVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments/{shipment_id}/locations/{location_id}:
    put:
      tags:
      - Shipment
      summary: Update a specific shipment location
      description: Update a specific shipment location
      operationId: putShipmentLocation
      parameters:
      - name: workgroup_id
        in: path
        required: true
        schema:
          type: string
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: shipment_id
        in: path
        required: true
        schema:
          type: string
      - name: location_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Update successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          application/x-json-smile:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          application/x-yaml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          text/x-yaml:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
          text/csv:
            schema:
              $ref: '#/components/schemas/ShipmentLocationPersistVO'
components:
  schemas:
    PropertyPaAndAttVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        param_name:
          type: string
          example: sample param_name
          description: ''
        property_attribute_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.PropertyPaAndAttVO'
    ShipmentListVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ShipmentSimpleVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentListVO'
    ShipmentExpandVO:
      properties:
        result:
          description: ''
          $ref: '#/components/schemas/ShipmentDetailVO'
        resut:
          description: ''
          $ref: '#/components/schemas/ShipmentDetailVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentExpandVO'
    SpecBaseVO:
      properties:
        job_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        reference_number:
          type: string
          example: sample reference_number
          description: ''
        spec_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_name:
          type: string
          example: sample spec_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.SpecBaseVO'
    ShipmentLocationsPOSTVO:
      properties:
        location_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipment_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        spec_id:
          type: integer
          format: int64
          example: '1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentLocationsPOSTVO'
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    CustomFieldPersistVO:
      properties:
        date_value:
          type: string
          format: date
          description: ''
        number_value:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        param_name:
          type: string
          example: sample param_name
          description: ''
        string_value:
          type: string
          example: sample string_value
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.CustomFieldPersistVO'
    ShipmentSimpleVO:
      properties:
        locations_count:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_received:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_requested:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_shipped:
          type: integer
          format: int64
          example: '1'
          description: ''
        received_date:
          type: string
          format: date
          description: ''
        shipment_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipment_status:
          type: string
          example: sample shipment_status
          description: ''
        shipped_date:
          type: string
          format: date
          description: ''
        spec:
          description: ''
          $ref: '#/components/schemas/SpecBaseVO'
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentSimpleVO'
    ShipmentLocationPostPersistVO:
      properties:
        address_line1:
          type: string
          example: sample address_line1
          description: ''
        address_line2:
          type: string
          example: sample address_line2
          description: ''
        address_line3:
          type: string
          example: sample address_line3
          description: ''
        batch_label:
          type: string
          example: sample batch_label
          description: ''
        city:
          type: string
          example: sample city
          description: ''
        company_name:
          type: string
          example: sample company_name
          description: ''
        country_iso_code:
          type: string
          example: sample country_iso_code
          description: ''
        delivery_date:
          type: string
          format: date
          description: ''
        description_or_title:
          type: string
          example: sample description_or_title
          description: ''
        email:
          type: string
          example: sample email
          description: ''
        first_name:
          type: string
          example: sample first_name
          description: ''
        inner_carton_label:
          type: string
          example: sample inner_carton_label
          description: ''
        last_name:
          type: string
          example: sample last_name
          description: ''
        middle_name:
          type: string
          example: sample middle_name
          description: ''
        outer_carton_label:
          type: string
          example: sample outer_carton_label
          description: ''
        pallet_lablel:
          type: string
          example: sample pallet_lablel
          description: ''
        poof_type:
          type: string
          example: sample poof_type
          description: ''
        postal_code:
          type: string
          example: sample postal_code
          description: ''
        request_type:
          type: string
          example: sample request_type
          description: ''
        requested_quantity:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipment_custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        shipment_request_custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CustomFieldPersistVO'
        shipping_carrier:
          type: string
          example: sample shipping_carrier
          description: ''
        shipping_instruction:
          type: string
          example: sample shipping_instruction
          description: ''
        shpping_method:
          type: string
          example: sample shpping_method
          description: ''
        spec_ids:
          type: string
          example: sample spec_ids
          description: ''
        state:
          type: string
          example: sample state
          description: ''
        work_phone_number:
          type: string
          example: sample work_phone_number
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.ShipmentLocationPostPersistVO'
    ShipmentDetailVO:
      properties:
        locations:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ShipmentRequestBaseVO'
        locations_count:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_received:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_requested:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_shipped:
          type: integer
          format: int64
          example: '1'
          description: ''
        received_date:
          type: string
          format: date
          description: ''
        shipment_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipment_status:
          type: string
          example: sample shipment_status
          description: ''
        shipped_date:
          type: string
          format: date
          description: ''
        spec:
          description: ''
          $ref: '#/components/schemas/SpecBaseVO'
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentDetailVO'
    ShipmentRequestBaseVO:
      properties:
        city:
          type: string
          example: sample city
          description: ''
        company_name:
          type: string
          example: sample company_name
          description: ''
        country:
          type: string
          example: sample country
          description: ''
        country_code:
          type: string
          example: sample country_code
          description: ''
        custom_fields:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/PropertyPaAndAttVO'
        description_or_title:
          type: string
          example: sample description_or_title
          description: ''
        due_date:
          type: string
          format: date
          description: ''
        email:
          type: string
          example: sample email
          description: ''
        first_name:
          type: string
          example: sample first_name
          description: ''
        is_use_spec_packaging:
          type: boolean
          example: 'false'
          description: ''
        last_name:
          type: string
          example: sample last_name
          description: ''
        line_1:
          type: string
          example: sample line_1
          description: ''
        line_2:
          type: string
          example: sample line_2
          description: ''
        line_3:
          type: string
          example: sample line_3
          description: ''
        location_id:
          type: integer
          format: int64
          example: '1'
          description: ''
        middle_name:
          type: string
          example: sample middle_name
          description: ''
        postal:
          type: string
          example: sample postal
          description: ''
        proof_type:
          type: string
          example: sample proof_type
          description: ''
        qty_received:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_requested:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_shipped:
          type: integer
          format: int64
          example: '1'
          description: ''
        received_comments:
          type: string
          example: sample received_comments
          description: ''
        received_date:
          type: string
          format: date
          description: ''
        requested_shipping_carrier:
          type: string
          example: sample requested_shipping_carrier
          description: ''
        requested_shipping_method:
          type: string
          example: sample requested_shipping_method
          description: ''
        shipped_comments:
          type: string
          example: sample shipped_comments
          description: ''
        shipped_date:
          type: string
          format: date
          description: ''
        shipped_in_units:
          type: integer
          format: int64
          example: '1'
          description: ''
        shipped_in_uofm:
          type: string
          example: sample shipped_in_uofm
          description: ''
        shipped_shipping_carrier:
          type: string
          example: sample shipped_shipping_carrier
          description: ''
        shipped_shipping_method:
          type: string
          example: sample shipped_shipping_method
          description: ''
        shipping_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        shipping_instruction:
          type: string
          example: sample shipping_instruction
          description: ''
        state:
          type: string
          example: sample state
          description: ''
        tax:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        tracking_number:
          type: string
          example: sample tracking_number
          description: ''
        type:
          type: string
          example: sample type
          description: ''
        weight:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        weight_uofm:
          type: string
          example: sample weight_uofm
          description: ''
        work_phone_number:
          type: string
          example: sample work_phone_number
          description: ''
        workgroup_name:
          type: string
          example: sample workgroup_name
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentRequestBaseVO'
    BigDecimal:
      description: 'Java type: java.math.BigDecimal'
    ShipmentLocationsPOSTResultVO:
      properties:
        results:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/ShipmentLocationsPOSTVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.ShipmentLocationsPOSTResultVO'
    ShipmentLocationPersistVO:
      properties:
        due_date:
          type: string
          format: date
          description: ''
        qty_received:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_requested:
          type: integer
          format: int64
          example: '1'
          description: ''
        qty_shipped:
          type: integer
          format: int64
          example: '1'
          description: ''
        received_date:
          type: string
          format: date
          description: ''
        shipped_date:
          type: string
          format: date
          description: ''
        shipping_cost:
          description: ''
          $ref: '#/components/schemas/BigDecimal'
        type:
          type: string
          example: sample type
          description: ''
      description: 'Java type: com.noosh.domain.nooshapi.persist.vo.ShipmentLocationPersistVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
