openapi: 3.2.0
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application Country API
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
servers:
- url: https://api.noosh.com
tags:
- name: Country
paths:
  /v1/countries:
    get:
      tags:
      - Country
      summary: List all countries
      description: List all countries
      operationId: getCountryList
      responses:
        '200':
          description: Successful retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/CountryListVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/CountryListVO'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-json-smile:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/xml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/x-yaml:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            text/csv:
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
            '*/*':
              schema:
                $ref: '#/components/schemas/HTTPStatusVO'
components:
  schemas:
    HTTPStatusVO:
      properties:
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.core.vo.HTTPStatusVO'
    CountryListVO:
      properties:
        result:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/CountryVO'
        status_code:
          type: integer
          format: int32
          example: '1'
          description: ''
        status_reason:
          type: string
          example: sample status_reason
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.CountryListVO'
    CountryVO:
      properties:
        constant_token:
          type: string
          example: sample constant_token
          description: ''
        country:
          type: string
          example: sample country
          description: ''
        country_id:
          type: integer
          format: int64
          example: '1'
          description: ''
      description: 'Java type: com.noosh.nooshapi.vo.CountryVO'
  securitySchemes:
    HTTP_BASIC:
      type: http
      scheme: basic
