swagger: '2.0'
info:
  description: Full description of Noosh API
  version: '1.0'
  title: Noosh API application
  contact: {}
  x-api-evangelist-note: Harvested verbatim from https://api.noosh.com/api/swagger.json on 2026-08-13. The published document declares host example.com:80 and basePath /v1, which are build-time placeholders
    (the same document is mirrored by APIs.guru with host noosh.local:80). host has been set to api.noosh.com — the host that actually serves this document and the Swagger UI at /api/developer/index.html
    — and basePath removed because every path already carries its own version prefix (/v1, /1.1, /1.2, /3). The unmodified document is preserved at openapi/_original/noosh-openapi.json. Every route returns
    HTTP 403 to unauthenticated callers (AWS API Gateway + CloudFront), so the deployment path prefix could not be confirmed live.
host: api.noosh.com
tags:
- name: Contact
- name: Country
- name: Deactivation Reason
- name: Estimate
- name: Exchange Rate
- name: File
- name: Invoice
- name: My Info
- name: Order
- name: Project
- name: Project Category
- name: Project Status
- name: Quote
- name: RFE
- name: Rfq
- name: Shipment
- name: Spec
- name: Spec Template
- name: Task
- name: Team Member
- name: Team Member Role
- name: Time Card
- name: User Fields
- name: Workgroup
- name: Workgroup Members
schemes:
- https
paths:
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/fileTags:
    get:
      tags:
      - File
      summary: List Tags from Workgroup and Project.
      description: List Tags from Workgroup and Project.
      operationId: getFileTags
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileTagResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/files:
    get:
      tags:
      - File
      summary: List Files from Project.  Works for Regular and Remote Files
      description: List Files from Project.  Works for Regular and Remote Files
      operationId: getFiles
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileListResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - File
      summary: Upload File to Project. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" <br /> file = {the
      description: 'Upload File to Project. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" <br /> file = {the file} <br /> tags = {json string}, examples: <br /> [{"tagName":"aa","isSpec":false}],
        Create or Use existing tag, lookup done by name <br /> [{"tagId":9458887,"isSpec":true}], Existing Spec Tag <br /> [{"tagId":5003785,"isSpec":false}], Existing Tag'
      operationId: uploadFile
      consumes:
      - multipart/form-data
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: file
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/files/{file_id}:
    get:
      tags:
      - File
      summary: Get File from Project.  Works for Regular and Remote Files
      description: Get File from Project.  Works for Regular and Remote Files
      operationId: getFile
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: file_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/filesByRole:
    post:
      tags:
      - File
      summary: Upload File to Project. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" <br /> file = {the
      description: 'Upload File to Project. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" <br /> file = {the file} <br /> tags = {json string}, examples: <br /> [{"tagName":"aa","isSpec":false}],
        Create or Use existing tag, lookup done by name <br /> [{"tagId":9458887,"isSpec":true}], Existing Spec Tag <br /> [{"tagId":5003785,"isSpec":false}], Existing Tag'
      operationId: uploadFile
      consumes:
      - multipart/form-data
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: file
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/specs/{spec_id}:
    get:
      tags:
      - Spec
      summary: List a specific spec of project Level
      description: List a specific spec of project Level
      operationId: getSpec
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: spec_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/V1x1SpecExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Spec
      summary: Update a specific Spec
      description: Update a specific Spec
      operationId: putSpec
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: spec_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/V1X1SpecUpdatingPO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/SpecHTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/projects/{project_id}/teammembers:
    post:
      tags:
      - Team Member
      summary: Invite a team member or all the members of team template for the specific project.
      description: Invite a team member or all the members of team template for the specific project.
      operationId: postTeamMemberOfProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/TeamMemberPO'
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/V1x1InvitedTeamMemberResultsVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.1/workgroups/{workgroup_id}/specTypes/{spec_type_id}/specTypeFields:
    get:
      tags:
      - Spec
      summary: Get Spec Type Fields
      description: Get Spec Type Fields
      operationId: getSpecTypeFields
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: spec_type_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/SpecTypeFieldsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /1.2/workgroups/{workgroup_id}/projects/{project_id}/filesByRole:
    post:
      tags:
      - File
      summary: 'Upload File to Project With Notification. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" '
      description: 'Upload File to Project With Notification. <br /> A multipart/form-data request that accepts 2 values. "file" and "tags" <br /> file = {the file} <br /> tags = {json string}, examples:
        <br /> [{"tagName":"aa","isSpec":false}], Create or Use existing tag, lookup done by name <br /> [{"tagId":9458887,"isSpec":true}], Existing Spec Tag <br /> [{"tagId":5003785,"isSpec":false}], Existing
        Tag'
      operationId: uploadFile
      consumes:
      - multipart/form-data
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: file
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /3/workgroups/{workgroup_id}/projects/{project_id}/files:
    post:
      tags:
      - File
      summary: Upload File V3 to Project With Notification
      description: Upload File V3 to Project With Notification
      operationId: uploadFile
      consumes:
      - multipart/form-data
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: file
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileV3ResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /3/workgroups/{workgroup_id}/projects/{project_id}/folders:
    get:
      tags:
      - File
      summary: List all folders under a project
      description: List all folders under a project
      operationId: getFolders
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FolderListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - File
      summary: Create a new folder under a project
      description: Create a new folder under a project
      operationId: createFolder
      consumes:
      - multipart/form-data
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FolderPersisitVO'
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FolderVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/countries:
    get:
      tags:
      - Country
      summary: List all countries
      description: List all countries
      operationId: getCountryList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters: []
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/CountryListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups:
    get:
      tags:
      - Workgroup
      summary: List the workgroups
      description: List the workgroups
      operationId: getWorkgroupList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_name
        in: query
        description: Workgroup Name
        required: false
        type: string
      - name: workgroup_types
        in: query
        description: 1000001 for Buyer, 1000002 for supplier, 1000003 for agent, 1000004 for Broker/Outsourcer and 1000005 for Partner
        required: false
        type: array
        items:
          type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/WorkgroupListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/automaticInvitations:
    get:
      tags:
      - My Info
      summary: 'List current user''s automatic invitations info '
      description: 'List current user''s automatic invitations info '
      operationId: getAutomaticInvitationList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/AutomaticInvitationsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/billingRecipients:
    get:
      tags:
      - Contact
      summary: List Billing Recipients
      description: List Billing Recipients
      operationId: getBillingRecipients
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ContactsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/buyOrders:
    get:
      tags:
      - Order
      summary: List the buy orders of workgroup
      description: List the buy orders of workgroup
      operationId: getBuyOrderListOfWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderWorkgroupLevelListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/buyOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy order of workgroup
      description: Get a specific buy order of workgroup
      operationId: getBuyOrderOfWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderExpandWorkgroupLevelVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups:
    get:
      tags:
      - Workgroup
      summary: List client workgroups
      description: List client workgroups
      operationId: getClientWorkgroupList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ClientWorkgroupListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups/{client_workgroup_id}:
    get:
      tags:
      - Workgroup
      summary: Get a specific client workgroups
      description: Get a specific client workgroups
      operationId: getSpecificClientWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: client_workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ClientWorkgroupExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups/{client_workgroup_id}/projectCategory:
    get:
      tags:
      - Project Category
      summary: List the project categories of client side
      description: List the project categories of client side
      operationId: getProjectCategoryListOfClient
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: client_workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectCategoryListVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups/{client_workgroup_id}/projectHomeUserFields:
    get:
      tags:
      - User Fields
      summary: List projec home user fields of client workgroup
      description: List projec home user fields of client workgroup
      operationId: getProjectHomeUserFieldListOfClient
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: client_workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectHomeUserFieldsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/clientWorkgroups/{client_workgroup_id}/projectStatus:
    get:
      tags:
      - Project Status
      summary: List the project status of client
      description: List the project status of client
      operationId: getProjectStatusOfClient
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: client_workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectStatusListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/contacts:
    get:
      tags:
      - Contact
      summary: List the contacts
      description: List the contacts
      operationId: getContactList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ContactsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/contacts/{user_id}:
    get:
      tags:
      - Contact
      summary: Contact Info
      description: Contact Info
      operationId: getContactUserInfo
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: user_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/UserDetailsExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/customTaskStatus:
    get:
      tags:
      - Task
      summary: Get custom task status of workgroup level
      description: Get custom task status of workgroup level
      operationId: getWgTaskStatusListOfWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/WgTaskStatusListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/customTaskTypes:
    get:
      tags:
      - Task
      summary: Get custom task types of workgroup level
      description: Get custom task types of workgroup level
      operationId: getCustomTaskTypesOfWg
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TaskTypeListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/deactivationReasons:
    get:
      tags:
      - Deactivation Reason
      summary: List all deactivation reasons
      description: List all deactivation reasons
      operationId: getDeactivationReasonList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/DeactivationReasonListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/defaultTaskPriority:
    get:
      tags:
      - Task
      summary: Get default task priority list
      description: Get default task priority list
      operationId: TaskPriorityList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TaskPriorityListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/defaultTaskStatus:
    get:
      tags:
      - Task
      summary: Get default task status list
      description: Get default task status list
      operationId: getDefaultTaskStatusList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TaskStatusListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/detail:
    get:
      tags:
      - Workgroup
      summary: Detail workgroup info
      description: Detail workgroup info
      operationId: getWorkgroupDetail
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/WorkgroupExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Workgroup
      summary: Update a specific Workgroup
      description: Update a specific Workgroup
      operationId: putWorkgroup
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkgroupUpdPersistVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/WorkgroupHTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/exchangeRate:
    get:
      tags:
      - Exchange Rate
      summary: Get Exchange Rate List
      description: Get Exchange Rate List
      operationId: getExchangeRateList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/MultiExchangeRateListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Exchange Rate
      summary: Create Exchange Rates
      description: Create Exchange Rates
      operationId: postExchangeRate
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/MultiExchangeRatePersistListVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/HTTPStatus'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/myTimeCards:
    get:
      tags:
      - Time Card
      summary: List my time cards
      description: List my time cards
      operationId: getMyTimeCardList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TimeCardListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/myTimeCards/{timeCard_id}:
    get:
      tags:
      - Time Card
      summary: Get a specific my time cards
      description: Get a specific my time cards
      operationId: getMyTimeCard
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: timeCard_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TimeCardDetailVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/productTypes:
    get:
      tags:
      - Spec
      summary: Get product type of workgroup level
      description: Get product type of workgroup level
      operationId: getProductTypeListOfWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/WorkgroupAttributeListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/productTypesOfSpecTypes:
    get:
      tags:
      - Spec
      summary: Get product type of spec level by workgroupId
      description: Get product type of spec level by workgroupId
      operationId: getSpecProductTypeListOfWorkgroup
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/WorkgroupAttributeListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Spec
      summary: Register product types for spec types
      description: Register product types for spec types
      operationId: postSpecProductTypeListOfWorkgroup
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WgSpecPrdTypeRegPersistVO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/WgSpecPrdTypeRegPersistVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/profileImage:
    post:
      tags:
      - My Info
      summary: Upload Profile Image.  A multipart/form-data request with a name "file"
      description: Upload Profile Image.  A multipart/form-data request with a name "file"
      operationId: uploadProfileImage
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: file
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/ProfileImageVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projectCategory:
    get:
      tags:
      - Project Category
      summary: List the project categories
      description: List the project categories
      operationId: getProjectCategoryList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectCategoryListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projectHomeUserFields:
    get:
      tags:
      - User Fields
      summary: List projec home user fields
      description: List projec home user fields
      operationId: getProjectHomeUserFieldsList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectHomeUserFieldsListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projectStatus:
    get:
      tags:
      - Project Status
      summary: List the project status
      description: List the project status
      operationId: getProjectStatus
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectStatusListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects:
    get:
      tags:
      - Project
      summary: List the projects
      description: List the projects
      operationId: getProjectList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Project
      summary: Create a Project
      description: Create a Project
      operationId: postProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ProjectPersistVO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/ProjectVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}:
    get:
      tags:
      - Project
      summary: Get a specific Project
      description: Get a specific Project
      operationId: getProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ProjectExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Project
      summary: Update a specific Project
      description: Update a specific Project
      operationId: putProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ProjectPersistVO'
      responses:
        '200':
          description: Successful update
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    delete:
      tags:
      - Project
      summary: Archieve a specific Project
      description: Archieve a specific Project
      operationId: deleteProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful archive
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    patch:
      tags:
      - Project
      summary: Patch a specific Project
      description: Patch a specific Project
      operationId: patchProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ProjectPatchPO'
      responses:
        '200':
          description: Successful patch
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/buyOrders:
    get:
      tags:
      - Order
      summary: List the buy orders
      description: List the buy orders
      operationId: getBuyOrderList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Order
      summary: Create a quick buy order
      description: Create a quick buy order
      operationId: postBuyOrder
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/OrderPO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/OrderPO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/buyOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy order
      description: Get a specific buy order
      operationId: getBuyOrder
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderDetailVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Order
      summary: Update a specific buy order
      description: Update a specific buy order
      operationId: putBuyOrder
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/OrderUpdPersistVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/OrderVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/children:
    post:
      tags:
      - Project
      summary: Attach children projects to specific Project
      description: Attach children projects to specific Project
      operationId: attachProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ProjectIdListVO'
      responses:
        '200':
          description: Successful update
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/estimates:
    get:
      tags:
      - Estimate
      summary: List the Estimates
      description: List the Estimates
      operationId: getEstimateList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/EstimateListExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Estimate
      summary: Create a Estimate
      description: Create a Estimate
      operationId: postEstimate
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/EstimatePO'
      responses:
        '200':
          description: Successful create
          schema:
            $ref: '#/definitions/EstimatePO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/estimates/{estimate_id}:
    get:
      tags:
      - Estimate
      summary: Get a specific estimate of project
      description: Get a specific estimate of project
      operationId: getEstimate
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: estimate_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/EstimateExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/orders/{order_id}:
    get:
      tags:
      - Invoice
      summary: List invoices by a specific order
      description: List invoices by a specific order
      operationId: getInvoices
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/InvoiceDetailListExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/{invoice_id}:
    get:
      tags:
      - Invoice
      summary: List a specific invoice of project Level
      description: List a specific invoice of project Level
      operationId: getInvoice
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: invoice_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/InvoiceExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/invoices/{invoice_id}/files:
    get:
      tags:
      - Invoice
      summary: List files of invoice Level
      description: List files of invoice Level
      operationId: getInvoiceFiles
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: invoice_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/FileListResponseVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/memberroles/{user_id}:
    get:
      tags:
      - Team Member Role
      summary: List all the role options for the user
      description: List all the role options for the user
      operationId: getMemberRoles
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: user_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/RoleListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/orders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific buy/sell order
      description: Get a specific buy/sell order
      operationId: getOrder
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderDetailWithIndicatorVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/quotes:
    get:
      tags:
      - Quote
      summary: List the quotes
      description: List the quotes
      operationId: getQuoteList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: quote_state_id, use filters={"quote_state_id":111111}
        in: query
        description: Quote Object State Id, use /workgroups/{workgroup_id}/quoteStates to get correct value
        required: false
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/QuoteListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/quotes/{quote_id}:
    get:
      tags:
      - Quote
      summary: Get a specific quote of project
      description: Get a specific quote of project
      operationId: getQuote
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: quote_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/QuoteExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Quote
      summary: Accept / Reject a Quote
      description: Accept / Reject a Quote
      operationId: putQuote
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: quote_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/QuotePutPersistVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfes:
    get:
      tags:
      - RFE
      summary: List the RFES
      description: List the RFES
      operationId: getRfeList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/RfeListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - RFE
      summary: Create a RFE
      description: Create a RFE
      operationId: postRfe
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/RfePO'
      responses:
        '200':
          description: Successful update
          schema:
            $ref: '#/definitions/RfqVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfes/{rfe_id}:
    get:
      tags:
      - RFE
      summary: Get a specific Rfe
      description: Get a specific Rfe
      operationId: getRfe
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: rfe_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/RfeExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfqs:
    get:
      tags:
      - Rfq
      summary: List the rfqs
      description: List the rfqs
      operationId: getRfqList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/RfqListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/rfqs/{rfq_id}:
    get:
      tags:
      - Rfq
      summary: Get a specific Rfq
      description: Get a specific Rfq
      operationId: getRfq
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: rfq_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/RfqExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/sellOrders:
    get:
      tags:
      - Order
      summary: List the sell orders
      description: List the sell orders
      operationId: getSellOrderList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/sellOrders/{order_id}:
    get:
      tags:
      - Order
      summary: Get a specific sell order
      description: Get a specific sell order
      operationId: getSellOrder
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/OrderDetailVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Order
      summary: Update / Accept or Reject a specific sell order
      description: Update / Accept or Reject a specific sell order
      operationId: putSellOrder
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: order_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/OrderUpdPersistVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/OrderVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments:
    get:
      tags:
      - Shipment
      summary: List shipments of project
      description: List shipments of project
      operationId: getShipmentList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ShipmentListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Shipment
      summary: Create a shipment
      description: Create a shipment
      operationId: postShipment
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ShipmentLocationPostPersistVO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/ShipmentLocationsPOSTResultVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments/{shipment_id}:
    get:
      tags:
      - Shipment
      summary: Get a specific shipment.
      description: Get a specific shipment.
      operationId: getShipment
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: shipment_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/ShipmentExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/shipments/{shipment_id}/locations/{location_id}:
    put:
      tags:
      - Shipment
      summary: Update a specific shipment location
      description: Update a specific shipment location
      operationId: putShipmentLocation
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: shipment_id
        in: path
        required: true
        type: string
      - name: location_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ShipmentLocationPersistVO'
      responses:
        '200':
          description: Update successfully
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/specs:
    get:
      tags:
      - Spec
      summary: List specs of project Level
      description: List specs of project Level
      operationId: getSpecList
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/SpecListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Spec
      summary: Create a Spec
      description: Create a Spec
      operationId: postSpec
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SpecPersistVO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/SpecVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/specs/{spec_id}:
    get:
      tags:
      - Spec
      summary: List a specific spec of project Level
      description: List a specific spec of project Level
      operationId: getSpec
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: spec_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/SpecListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    put:
      tags:
      - Spec
      summary: Update a specific Spec
      description: Update a specific Spec
      operationId: putSpec
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: spec_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SpecUpdatePersistVO'
      responses:
        '200':
          description: Successful updated
          schema:
            $ref: '#/definitions/SpecHTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/tasks:
    get:
      tags:
      - Task
      summary: Get task list of project level
      description: Get task list of project level
      operationId: getTaskListOfProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TaskListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Task
      summary: Create a new task
      description: Create a new task
      operationId: postTaskForProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/TaskPersistVO'
      responses:
        '200':
          description: Successful created
          schema:
            $ref: '#/definitions/TaskCreatedVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/tasks/{task_id}:
    get:
      tags:
      - Task
      summary: Get a sepcific task of project level
      description: Get a sepcific task of project level
      operationId: getTaskOfProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - name: task_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TaskExpandVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/teamMembersOfClientProject:
    get:
      tags:
      - Team Member
      summary: List team member of client project side.
      description: List team member of client project side.
      operationId: getTeamMemberListOfClientProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TeamMemberListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/teammembers:
    get:
      tags:
      - Team Member
      summary: List team member of project.
      description: List team member of project.
      operationId: getTeamMemberListOfProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TeamMemberListVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '404':
          description: There are not any result matching your search condition
          schema:
            $ref: '#/definitions/HTTPStatusVO'
    post:
      tags:
      - Team Member
      summary: Deprecated, please use 1.1 Version
      description: Deprecated, please use 1.1 Version
      operationId: postTeamMemberOfProject
      consumes:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
      - name: project_id
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ContactUserVO'
      responses:
        '200':
          description: Successful retrieval
          schema:
            $ref: '#/definitions/TeamMemberBaseInfVO'
        '422':
          description: Invalid data
          schema:
            $ref: '#/definitions/HTTPStatusVO'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/HTTPStatusVO'
  /v1/workgroups/{workgroup_id}/projects/{project_id}/teammembers/{teammember_id}:
    delete:
      tags:
      - Team Member
      summary: Delete a team member for the specific project.
      description: Delete a team member for the specific project.
      operationId: deleteTeamMemberOfProject
      consumes: []
      produces:
      - application/json
      - application/x-json-smile
      - application/xml
      - text/xml
      - application/x-yaml
      - text/x-yaml
      - text/csv
      - '*/*'
      parameters:
      - name: workgroup_id
        in: path
        required: true
        type: string
[...]
